body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: flex;
    height: 100%;
}

#map {
    width: 66.67%; /* 2/3 of the screen */
    height: 100%;
}

#info-panel {
    width: 33.33%; /* 1/3 of the screen */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow-y: auto;
}

#district-name {
    text-align: center;
    margin-bottom: 20px;
}

#main-chart-container {
    margin-bottom: 20px;
}

#chart-separator {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

#internet-penetration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust this value as needed */
    text-align: center;
    margin-top: 20px;
}

#internet-penetration-title {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#internet-penetration-value {
    font-size: 2em;
    font-weight: bold;
}


#channel-chart-container {
    margin-top: 20px;
}

#channel-chart-title {
    text-align: center;
    margin-bottom: 10px;
}

#pensioner-chart, #channel-chart {
    width: 100% !important;
    height: auto !important;
    max-height: 300px;
}